---
const { } = Astro.props;
---

<section>
    <div class="max-w-6xl mx-auto px-4 sm:px-6">
        <div class="pt-32 pb-12 md:pt-40 md:pb-20">
            <div class="text-center pb-12 md:pb-16">
                <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4  ">
                    Hi! I'm
                    <span
                        class="bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-green-300">Nelertile</span>
                </h1>
                <div class="max-w-3xl mx-auto">
                    <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
                        If you've been redirected to this page, you're probably trying to join my discord server! If I
                        currently
                        have one a green button that says "Join Here" will appear. If that is not the case, I don't have
                        one at the
                        moment. Sorry.
                    </p>
                    <div class="max-w-none flex justify-center  ">
                        <!-- <div>
                            <a class="btn text-white bg-green-600 hover:bg-green-700 mb-4 sm:mb-0"
                                href="https://discord.gg/">Join Here</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>