---
const { } = Astro.props;
---

<section class="relative">
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="py-12 md:py-20">
      <div class="max-w-3xl mx-auto text-center pb-12">
        <h2 class="text-4xl md:text-5xl font-bold leading-tighter tracking-tighter mb-4">Nelertile</h2>
        <p class="text-xl text-gray-600 dark:text-slate-400">If you find what i do interesting, please follow my <a
            href="https://twitter.com/nelertile">Twitter</a> and <a
            href="https://www.youtube.com/channel/UCJukw7GFBmagAWuRLnStvqA?sub_confirmation=1">Subscribe</a> to my
          Youtube Channel</p>
      </div>
    </div>
  </div>
</section>