---
const { } = Astro.props;
---

<section>
    <a href="https://www.minecraft.net/">
        <div class="dark:bg-slate-700 bg-white rounded-xl border-green-600 
            border-4 shadow-sm hover:-translate-y-4 hover:border-green-500
            dark:hover:bg-slate-600 transition-all">
            <!-- all -->
            <div>
                <!-- cover -->
                <img src="../../../public/images/games/minecraft.png" width="400" height="250" class="rounded-t-xl">
            </div>
            <div class="text-center">
                <!-- title -->
                <h2 class="text-5xl md:text-6l font-bold leading-tighter tracking-tighter mb-4  ">
                    <span
                        class="bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-green-300">Minecraft</span>
                </h2>
            </div>
        </div>
    </a>
</section>