---
import Layout from '~/layouts/Layout.astro';
import DiscordRedirect from '~/components/astro/sections/DiscordRedirect.astro';
---

<Layout title="Nelertile - Discord">
    <main>
        <DiscordRedirect />
    </main>
</Layout>