---
import Layout from '~/layouts/Layout.astro';

import BasicCTA from '~/components/ctas/BasicCTA.astro';
import BannerWithIntro from '~/components/banner/BannerWithIntro.astro';
---

<Layout title="Nelertile - Home">
	<main>
		<BannerWithIntro />

		<BasicCTA />
	</main>
</Layout>