---
const { } = Astro.props;
---

<section>
  <div class="max-w-6xl mx-auto px-4 sm:px-6">
    <div class="pt-32 pb-12 md:pt-40 md:pb-20">
      <div class="text-center pb-12 md:pb-16">
        <h1 class="text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4  ">
          Hi! I'm
          <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-500 to-green-300">Nelertile</span>
        </h1>
        <div class="max-w-3xl mx-auto">
          <p class="text-xl text-gray-600 mb-8 dark:text-slate-400">
            Hello! Nelertile here. I'm a swedish Content Creator, Developer and Musician. I am working together with
            some other people to make an Open Source Resource Pack picker for Minecraft. I also play a lot of games,
            generally in the Open World genre.
          </p>
          <div class="max-w-none flex justify-center  ">
            <div>
              <a class="btn text-white bg-green-600 hover:bg-green-700 mb-4 sm:mb-0"
                href="https://twitter.com/nelertile">Get
                started</a>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="relative flex justify-center mb-8  ">
          <div class="flex flex-col justify-center">
            <img class="mx-auto rounded-md" src="/images/Nelertile_Banner.png" width="768" height="432" alt="Hero">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>